.env
.env.local
.env.*.local
*.secret
config.local.*
_git/
.edge-headless-profile/
supabase/.temp/
node_modules/
.next/
.netlify/
dist/
build/
coverage/
.vercel/
.DS_Store
Thumbs.db
/test_pic/*

*.png.edge-headless-profile-verify/ 
docs/*
*.png
*.log

.edge-headless-profile-bg/*
.edge-headless-bg-mobile/*
.edge-headless-profile-bg-mobile/*
.edge-headless-profile-verify/*